<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
 %>

<html>
  <body>
    <h1>This is the header</h1>
    <p>
      <%= link_to("A link to the 'me' page", "me.html") %>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>
      <%= link_to("Another link to the 'me' page", "me.html") %>
      </p>
    </div>
    <form method='post' action="<%= @request.path %>">
      First name: <input type="text" name="first_name" placeholder='first name'/><br />
      Gender: <input type="radio" name="gender" value="male">Male</input>
      <input type="radio" name="gender" value="female">Female</input><br/>
      <input type="submit" value="Submit" />
    </form>
  </body>
  <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
    <p>Hello, <%= @request.query['first_name'] %>. You are a <%= @request.query['gender'] %></p>
    <% else %>
      <p>Please enter your name</p>
    <% end %>
</html>